[submodule "investment-backend"]
	path = investment-backend
	url = https://gitee.com/sunmoonlion/investment-admin-backend.git
[submodule "investment-admin-frontend"]
	path = investment-admin-frontend
	url = https://gitee.com/sunmoonlion/investment-admin-frontend.git
[submodule "investment-web-frontend"]
	path = investment-web-frontend
	url = https://gitee.com/sunmoonlion/investment-web-frontend.git
