[submodule "research-admin-frontend"]
	path = research-admin-frontend
	url = https://github.com/sunmoonlion/research-admin-frontend.git
[submodule "research-web-backend"]
	path = research-web-backend
	url = https://github.com/sunmoonlion/research-web-backend.git
[submodule "research-web-frontend"]
	path = research-web-frontend
	url = https://github.com/sunmoonlion/research-web-frontend.git
[submodule "research-admin-backend"]
	path = research-admin-backend
	url = https://github.com/sunmoonlion/research-admin-backend.git
